/* ============================================ */
/* 1st block wide background */
/* ============================================ */

.water-bg {
  background-image: url(../img/water.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

/* 1st block narrow background */

.bg-yellow {
  background-color: var(--yellow);
}

/* ============================================ */
/* 2nd block */
/* ============================================ */
.bg-envelope {
  background-image: url(../img/green_envelopes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

.bg-layer-red {
  height: 100%;
  background-color: rgba(161, 57, 57, 0.9);
}

.bg-grey {
  background-color: rgb(224, 224, 224);
}

.bg-browny-red {
  background-color: var(--browny-red);
  border: 1px solid var(--browny-red);
}

/* ============================================ */
/* 3rd block */
/* ============================================ */
.bg-city {
  background-image: url(../img/city.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.city-layer {
  background-color: rgba(68, 57, 57, 0.753);
  height: 100%;
  padding: 100px;
}

/* ============================================ */
/* 4th block */
/* ============================================ */

.iron-man {
  background-image: url(../img/iron-man.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ============================================ */
/* 5th block */
/* ============================================ */

.full-narrow-block {
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ============================================ */
/* 5th block */
/* ============================================ */

.form-block {
  background-image: url(../img/1076836.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
