/* 5 blokas */

.avatar-layer {
  background-color: rgba(32, 32, 32, 0.4);
  height: 100%;
}

.card-title,
.maps-text {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
}

.card__icon i {
  font-size: 8rem;
  border: 3px solid var(--white);
  border-radius: 50%;
  padding: 30px;
}

.yellow-layer {
  background-color: rgba(255, 187, 85, 0.8);
}
.orange-layer {
  background-color: rgba(255, 129, 56, 0.8);
}
.cherry-layer {
  background-color: rgba(146, 35, 35, 0.8);
}
.red-layer {
  background-color: rgba(219, 89, 89, 0.8);
}
