/* wide block styles */

.text-content {
  padding-top: 150px;
  padding-left: 150px;
  width: 50%;
}

.text-content > h1 {
  font-size: 4rem;
  font-weight: 100;
}

.border-line {
  border: 3px solid goldenrod;
  width: 70px;
}

/* narrow block styles */

.fa-adn {
  font-size: 10rem;
}

.brand-name {
  font-size: 3rem;
}

.white-line {
  border-bottom: 3px solid white;
  width: 100%;
}

.some-quote {
  width: 75%;
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: center;
}

.icons {
  list-style: none;
  padding: 0;
  width: 50%;
}

.icon {
  display: block;
  background-color: white;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: rgb(255, 187, 85);
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.icon:hover {
  background-color: rgb(212, 154, 67);
}
